* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.wrapper {
  width: 100%;
  display: grid;
  justify-items: center;
}

form {
  display: grid;
  width: 100%;
  max-width: 584px;
  margin-top: 26px;
  margin-bottom: 18px;
}

input {
  grid-area: 1/1;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  height: 44px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  padding-left: 47px;
}

input:hover,
input:focus {
  outline: none;
  box-shadow: 0 1px 6px rgb(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.search {
  grid-area: 1/1;
  width: 20px;
  margin-left: 14px;
  justify-self: start;
  background: url("/assets/img/search.svg")no-repeat center center;
  background-size: contain;
}

.icons-wrapper {
  grid-area: 1/1;
  justify-self: end;
  display: flex;
  align-items: center;
  padding-right: 8px;
}

.icons-wrapper div {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 8px;
}

.icons-wrapper div:nth-child(1) {
  background-image: url("/assets/img/tia.png");
}
.icons-wrapper div:nth-child(2) {
  background-image: url("/assets/img/Google_mic.svg");
}

button {
  background: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  border-color: #dadce0;
  color: #202124;
}

